@import 'https://fonts.googleapis.com/css2?family=Lato&family=Rubik+Doodle+Shadow&display=swap';
$lightPurple: #e1b1f7;

.app {
    display: flex;
    justify-content: center;

    .container {
        width: 1024px;
        font-family: Tahoma;

        .link {
            text-decoration: none;
            color: inherit;
        }

        // For Login and Register Pages
        .auth {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: $lightPurple;
            height: 100vh;
        }

        h1 {
            font-size: 20px;
            color: purple;
            margin-bottom: 20px;
            font-family: 'Lato', sans-serif;
        }

        form {
            display: flex;
            flex-direction: column;
            padding: 60px;
            background-color: rgb(255, 255, 255);
            width: 200px;
            gap: 20px;

            input {
                padding: 10px;
                border: none;
                border-bottom: 1px solid gray;
            }

            button {
                padding: 10px;
                border: none;
                background-color: purple;
                cursor: pointer;
                color: white;
                transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
            }

            button:hover {
                background-color: rgb(255, 0, 255);
                color: rgb(0, 0, 0);
            }

            p {
                font-size: 12px;
                color: red;
                text-align: center;
            }

            span {
                font-size: 15px;
                text-align: center;
            }

        }

        .navbar {
            .container {
                padding: 10px 0px;
                display: flex;
                align-items:center;
                justify-content: space-between;
                font-family:sans-serif;

                .logo {
                    img {
                        width: 120px;
                    }
                }

                .links {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    h6{
                     font-weight: 300;
                     font-size: 16px;
                        
                    }
                    span{
                        cursor: pointer;
                    }
                    .write{
                        background-color: $lightPurple;
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        display:flex;
                        align-items: center;
                        justify-content: center;
                        font-weight:300;
                        border: 1px solid white;
                        transition: background-color 0.25s ease, color 0.25s ease, border 0.25s ease;
                        &:hover{
                            background-color: rgb(255, 255, 255);
                            color: rgb(0, 0, 0);
                            border: 1px solid rgb(255,0,255);
                        }
                    }
                }
            }
        }

        //Footer
        footer{
            padding: 20px;
            margin-top: 100px;
            background-color: $lightPurple;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 12px;
            img{
                height:60px;
            }
        }

        //Home
        .home{
            .posts{
                margin-top:60px;
                display:flex;
                flex-direction: column;
                gap:150px;
                
                .post{
                    display:flex;
                    gap:80px;

                    &:nth-child(2n+1){
                        flex-direction: row-reverse;
                    }
                    .img{
                        flex:2;
                        position:relative;
                        
                        &::after{ //create the after image effect 
                            content:"";
                            width:100%;
                            height:100%;
                            background-color: $lightPurple;
                            position:absolute;
                            top:20px;
                            left:-20px;
                            z-index:-1;
                        }
                        img{
                            width:100%;
                            height:100%;
                            max-height: 400px;
                            object-fit:cover;
                        }
                    }
                    .content{
                        flex:3;
                        display:flex;
                        flex-direction: column;
                        justify-content: space-between;

                        h1 {
                            font-size: 40px;
                        }
                        p{
                            font-size: 16px;
                        }
                        button{
                            width: max-content;
                            padding: 10px 20px;
                            border: none;
                            cursor: pointer;
                            background-color: $lightPurple;
                            border: 1px solid $lightPurple;
                            color: purple;
                            transition: border 0.5s ease-in-out, background-color 0.5s ease-in-out, color 0.25 ease-in-out;
                        }
                        button:hover{
                            background-color: rgb(255, 255, 255);
                            color: rgb(0, 0, 0);
                            border: 1px solid rgb(255,0,255);
                        }
                        }
                    }
                }

            }
            
            // Single Page
            .single{
                display:flex;
                gap:50px;

                .content{
                    flex:5;
                    display: flex;
                    flex-direction: column;
                    gap:25px;
                    
                    img { //img for the post
                        width:100%;
                        height: 300px;
                        object-fit: cover;
                    }
                    .user{ 
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        font-size:14px;

                        img{ //user icon modifications
                         width:50px; 
                         height:50px;
                         border-radius:50%;
                         object-fit:cover;  
                        }

                        span{
                            font-weight: bold;
                        }
                        .info p{
                            font-size: 12px;
                            margin-bottom: 0;
                            margin-top:0;
                        }
                        
                    }
                    .edit{
                        display: flex;
                        gap:5px;

                        img{
                            width: 30px;
                            height: 30px;
                            cursor: pointer;
                        }
                    }
                }
                
                h1 {
                    margin-top:-5px;
                    margin-bottom:0px;
                    font-size:42px;
                    color:rgb(39, 39, 39);

                }
                p{
                    text-align: justify;
                    line-height: 30px;
                }
                .menu{
                    flex:2;
                    display:flex;
                    flex-direction: column;
                    gap: 20px;

                    h1{
                        font-size:20px;
                        color: purple;
                    }

                    .post{
                        display:flex;
                        flex-direction: column;
                        gap: 10px;
                        //transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
                    
                        img{
                            width:100%;
                            height:200px;
                            object-fit: cover;
                        }
                        h2{
                          color:purple;
                        }
                        button{
                            width: max-content;
                            padding: 10px 20px;
                            border: none;
                            cursor: pointer;
                            background-color: $lightPurple;
                            border: 1px solid $lightPurple;
                            color: purple;
                            transition: border 0.5s ease-in-out, background-color 0.5s ease-in-out, color 0.25 ease-in-out;
                        }
                        button:hover{
                            background-color: rgb(255, 255, 255);
                            color: rgb(0, 0, 0);
                            border: 1px solid rgb(255,0,255);
                            }

                    }
                }

            }
            .add{
                margin-top: 20px;
                display:flex;
                gap: 20px;

                .content{
                    flex:5;
                }
                .menu{
                   flex:2;
                   display:flex; 
                   flex-direction: column;
                   gap: 20px;
                }
            }

        }
    }

